<li data-comment="<%= comment.id %>">
  <%= comment.content %>
  <br>
  <%= comment.user.full_name %>
  <%= pretty_date(comment.created_at)  %>
  <% if can? :destroy, comment %>
  	<br>
  	<%= link_to "Delete", comment, method: :delete, remote: true %>
  <% end %>
</li>