<% if can? :update, @project %>
  <%= link_to 'Edit', edit_project_path, class: "button radius right" %>
<% end %>
<% if can? :destory, @prpject%>
  <%= link_to 'Delete', category_project_path, method: :delete, class: "button radius alert" %>
<% end %>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<div id="project_image">

    <div class="photo">
      <%= image_tag @project.image_url.to_s %>
    </div>

<p>
  <b>Body:</b>
  <%= @project.body %>
</p>

  <b>Category:</b>
  <%= link_to @project.category.title, @project.category %>
</p>

<% if user_signed_in? %>
    <%= render "comments/form" %>
<% end %>

<ul id="comments">
<%= render @comments %>
</ul>
