<h1><%= @category.title %><%= link_to('Edit', edit_category_path(@category)) if can? :update, @category %></h1>

<p><%= @category.description %></p>

<% @category.posts.each do |post| %>
	<p><%= link_to post.title, post_path %></p>

<% end %>

 <%= link_to 'New Post', new_post_path, class: "button radius" %>
