<%= content_for(:sidebar) do %>
  	<h2>Projects</h2>
  	<% @category.projects.each do |project| %>
  		<p><%= link_to project.title, project %> by <%= project.user.full_name %></p>
  	<% end %>
<% end %>

<h1><%= @category.title %></h1>
<%= link_to('Edit Category', edit_category_path(@category)) if can? :update, @category %>

<p />

<p><%= @category.description %></p>

<% @category.posts.each do |post| %>
	<p><%= link_to post.title, post_path %></p>

<% end %>

 <%= link_to 'New Post', new_post_path, class: "button radius" %>

